<html>

  <head>
    <titl>404</titl>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
       <div class="Main-content">
    {{>header}}
    <p>{{msg}}</p>
    </div>
    {{>footer}}
  </body>

</html>